@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    background-color: rgb(15, 23, 42);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding: 24px 12px;
    box-sizing: border-box;
    max-width: 1000px;
}


li {
    list-style-type: none;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 24px 12px;
}

.navlist {
    display: flex;
    align-items: center;
}

.navlist li {
    margin-left: 10px;
}

.logo {
    color: #22d3ee;
    font-size: 30px;
    font-weight: 700;
}

a {
    color: #fff;
}

.burger,
.burg-nav {
    display: none;
}






@media screen and (max-width: 600px) {
    .navlist {
        display: none;
    }

    .burger {
        display: block;
        max-width: 50px;
        height: 50px;
        background: #fff;
        border-radius: 50%;
        padding: 5px;
        cursor: pointer;
        z-index: 2;
    }

    .burg-nav {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        min-width: 100%;
        min-height: 100%;
        align-items: center;
        justify-content: center;
        font-size: xx-large;
        background: black;
        text-align: center;
        transform: translateX(100%);
        transition: 1s;
    }
}

































/* Reset and base styles  */
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Common */


ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}


address {
    font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button,
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}